// Components list
@import './settings';
@import './components/navigation';
@import './components/card';
@import './components/logo';
@import './components/countries';
@import './components/article';

// Pages list
@import './pages/news';


.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: $color-2;
}